@{
    ViewBag.Title = "This is our beautiful Library";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Add Books</h5>
        First you should add some books under <a href="Home/AllBooks">All Books</a>.
    </li>

    <li class="two">
        <h5>Rent Books</h5>
        Next you should rent some books under
        <a href="Home/RentBooks">Rent a Book</a>
    </li>

    <li class="three">
        <h5>Return books</h5>
        Finally you should <a href="Home/ReturnBooks">return</a> some books or looke at your
        <a href="Home/History">History</a>
    </li>
</ol>
